body{margin: 0 auto; text-align: center; font-size: 1.5em; font-family: 'Roboto Condensed', sans-serif;
    background-image: url("img/bac.png");   
    background-repeat: no-repeat;
    background-size: cover;}

h3 a {font-size: 1em;}

a {color: black;}

header {margin: 0 auto;
        width: 512px;
        height: 256px;
        background: url(img/maq.png); background-repeat: no-repeat;}

header:hover {background: url(img/mag.png);}

@media screen and (max-width: 1700px) {
    body{background-image: none;}
}

@media screen and (max-width: 428px) {
    header{background-size: 428px;}
}

@media screen and (max-width: 414px) {
    header{background-size: 414px;}
}

@media screen and (max-width: 390px) {
    header{background-size: 390px;}
}

@media screen and (max-width: 375px) {
    header{background-size: 375px;}
}

@media screen and (max-width: 320px) {
    header{background-size: 320px;}
}
