body{margin: 0 auto; text-align: center; font-size: 1.5em; font-family: 'Roboto Condensed', sans-serif;
    background-image: url("img/bac.png");   
    background-repeat: no-repeat;
    background-size: cover;}

h3 a {font-size: 1em;}

a {color: black;}

header {margin: 0 auto;
        width: 512px;
        height: 256px;
        background: url(maq.png);}

header:hover {background: url(mag.png);}

@media screen and (max-width: 1700px) {
    body{background-image: none;}
}

@media screen and (max-width: 600px) {
    img{width:300px;}
}
