body{margin: 0 auto; text-align: center; font-size: 1.5em; font-family: 'Roboto Condensed', sans-serif;
    background-image: url("img/bac.png");   
    background-repeat: no-repeat;
    background-size: cover;}

h3 a {font-size: 1em;}

a {color: black;}

@media screen and (max-width: 1700px) {
    body{background-image: none;}
}
